a.thumbnail {
  color: black;
}

body {
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url('/images/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  padding: 1em 0 4em 0;
}

div.logo {
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 12px 12px 0 0;
}
img.logo {
  max-width: 550px;
  padding: 1.8em 0;
  width: 100%;
}

.bg-white {
  background-color: rgba(255, 255, 255, 1.0);
}

.footer-bg {
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 0 0 12px 12px;
  color: rgba(255, 255, 255, 1.0);
}
.footer-bg a {
  color: rgba(255, 255, 255, 1.0);
  font-weight: bold;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  margin: 0;
  padding: 0;
}
.nav-bg {
  background-color: rgba(20, 20, 20, 0.8);
}

.navbar-default .navbar-nav > li > a {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
  color: #000;
}

.well-hd {
  background-color: rgba(200, 200, 200, 0.5);
  color: rgba(255, 255, 255, 1.0);
  text-align: center;
}

#nav.affix {
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  z-index: 2;
}

