%nav#nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.pull-left{"data-target" => "#nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'}
      / Social for Mobile
      .visible-xs
        .pull-right
          %a{:href => 'https://www.facebook.com/ewbatusc', :target => '_blank'}
            %img{:src => 'images/icon-facebook-hover.png', :width => '48px'}
          %a{:href => 'https://twitter.com/ewbusa_usc', :target => '_blank'}
            %img{:src => 'images/icon-twitter-hover.png', :width => '48px'}
          %a{:href => 'https://www.linkedin.com/groups/Engineers-Without-Borders-University-South-8228144', :target => '_blank'}
            %img{:src => 'images/icon-linkedin-hover.png', :width => '48px'}
    #nav-collapse.collapse.navbar-collapse
      -# Rendered Nagivation can be found in /app/config/navigation.rb
      = render_navigation
      / Social for larger screens
      %ul{:class => 'nav navbar-nav navbar-right visible-md visible-lg'}
        %li.icon-facebook
          %a{:href => 'https://www.facebook.com/ewbatusc', :target => '_blank'}
            %img{:src => 'images/icon-facebook.png', :height => '18px'}
        %li.icon-twitter
          %a{:href => 'https://twitter.com/ewbusa_usc', :target => '_blank'}
            %img{:src => 'images/icon-twitter.png', :height => '18px'}
        %li.icon-linkedin
          %a{:href => 'https://www.linkedin.com/groups/Engineers-Without-Borders-University-South-8228144', :target => '_blank'}
            %img{:src => 'images/icon-linkedin.png', :height => '18px'}
            
