%nav#nav.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.pull-left{"data-target" => "#nav-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: '/'}
      / Social for Mobile
      .visible-xs
        .pull-right
          %a{:href => 'https://www.facebook.com/ewbatusc'}
            %img{:src => 'images/icon-facebook-hover.png', :width => '48px'}
          %a{:href => 'https://twitter.com/ewbusa_usc'}
            %img{:src => 'images/icon-twitter-hover.png', :width => '48px'}
          %a{:href => 'https://www.youtube.com/user/uscewb'}
            %img{:src => 'images/icon-youtube-hover.png', :width => '48px'}
          %a{:href => 'https://www.linkedin.com/groups/Engineers-Without-Borders-University-South-8228144'}
            %img{:src => 'images/icon-linkedin-hover.png', :width => '48px'}
    #nav-collapse.collapse.navbar-collapse
      = render_navigation
      / Social for larger screens
      %ul.nav.navbar-nav.navbar-right.hidden-xs
        %li.icon-facebook
          %a{:href => 'https://www.facebook.com/ewbatusc'}
            %img{:src => 'images/icon-facebook.png', :width => '20px'}
        %li.icon-twitter
          %a{:href => 'https://twitter.com/ewbusa_usc'}
            %img{:src => 'images/icon-twitter.png', :width => '20px'}
        %li.icon-youtube
          %a{:href => 'https://www.youtube.com/user/uscewb'}
            %img{:src => 'images/icon-youtube.png', :width => '20px'}
        %li.icon-linkedin
          %a{:href => 'https://www.linkedin.com/groups/Engineers-Without-Borders-University-South-8228144'}
            %img{:src => 'images/icon-linkedin.png', :width => '20px'}
            
