%br
.row
  .col-xs-12.col-md-6
    %form{:action => "", :method => "post"}
      .formgroup
        %label Name
        %input.form-control{:type => "text", :name => "name"}
        %label Body
        %textarea.form-control{:name => "body"}
        %br
        %button.btn.btn-primary{:type => 'submit'} Send
%br
