.row
  .col-xs-12.col-md-4
    .page-header
      %h3.text-center Upcoming Events
    %iframe{:frameborder => '0', 
            :height => '355px', 
            :scrolling => 'no', 
            :src => 'https://calendar.google.com/calendar/embed?src=lqpplsoj3n2j9er79ovng2l0lo%40group.calendar.google.com&ctz=America/New_York',
            :style => 'border:solid 1px #777;border-radius:5px;padding:5px;margin-bottom:5px;background-color:rgb(204,204,204);',  
            :width => '100%'}
  .col-xs-12.col-md-8
    .page-header
      %h3 Recent News
    %blockquote
      %p>
        %a{:href => 'http://www.dailygamecock.com/article/2016/02/engineers-without-borders-sustainable-engineering?_h=fa14ff56-3c5c-465c-bfb2-86935f6b96e4'} Engineers Without Borders Solve Real-World Problems Through Sustainable Engineering
      %small February 10, 2016 via The Daily Gamecock