.page-header.text-center
  %h2 
    EWB-USA at the University of South Carolina
  .row
    .col-xs-12.col-md-10.col-md-push-1
      %p
        %em 
          EWB-USA supports community-driven development programs worldwide 
          by collaborating with local partners to design and implement 
          sustainable engineering projects, while creating transformative 
          experiences and responsible leaders.
.row
  .col-xs-12.col-md-6
    %h3 Who We Are
    %p 
      Engineers Without Borders USA (EWB-USA) 
      is at the forefront of a movement within the engineering 
      community. By offering unique, hands-on opportunities for 
      engineers and other professions to work directly with communities 
      in need, EWB-USA is educating the next generation of engineers in 
      sustainable engineering practice by providing real world 
      experience and problem solving.
    %p
      The Student Chapter of
      = succeed "," do
        %b EWB-USA at USC
      founded in 2010, is a strong interdisciplinary team from a variety 
      of colleges and majors. Our student members come from the College 
      of Engineering and Computing, the College of Arts and Sciences, 
      the Arnold School of Public Health, and the Darla Moore School of 
      Business. We work on projects to benefit both local and 
      international communities.
      %a{:href => '/projects'}
        %strong
          Click here
      to learn more about chapter activities and projects.
    %h3 What is Engineers Without Borders USA?
    %p
      EWB-USA is a non-profit 
      humanitarian organization dedicated to partnering with developing 
      communities around the world. We provide engineering services 
      through our volunteer chapter members to implement the 
      infrastructure necessary to meet basic human needs. Through our 
      sustainable engineering projects, we strive to improve the quality 
      of life in the communities we serve. Thousands of members in more 
      than 225 university and professional chapters work to support 
      these efforts.
    %p
      EWB-USA supports community-driven development programs worldwide 
      by collaborating with local partners to design and implement 
      sustainable engineering projects, while creating transformative 
      experiences and responsible leaders.
    %p
      Learn more about EWB-USA at the national website,
      = succeed "." do
        %a{:href => "http://www.ewb-usa.org"} ewb-usa.org
  .col-xs-12.col-md-6
    %iframe{:allowfullscreen => '',
            :class => 'thumbnail',
            :frameborder => '0',
            :src => '//www.youtube.com/embed/FdIIXuSezjg',
            :height => '300',
            :width => '100%'}
    %h3 EWB-USA History
    %p 
      EWB-USA was founded in 2002 by University of Colorado-Boulder 
      Civil Engineering professor, Dr. Bernard Amadei in order to 
      address some of the most prevalent challenges facing the 
      developing world, including water purification and delivery, 
      sanitation, transportation and infrastructure projects, and 
      sustainable and renewable energy systems. What started as a 
      backyard conversation with a landscaper from San Pablo, Belize 
      resulted in a clean water system for the local community and 
      sparked a global engineering movement that has directly impacted 
      more than one million people to date.
    %p
      The nonprofit started with 18 members and one university chapter. 
      Today, EWB-USA is comprised of an expansive network of over 12,000 
      members and more than 225 university student and professional 
      chapters engaged in over 400 active programs in 45 countries 
      around the world.
.row
  .col-xs-12
    %br
  .col-xs-12.col-md-4
    %a.thumbnail{"data-lightbox" => 'index', 
       :href => 'images/index1.jpg'}
      %img.img-responsive{:src => 'images/index1.jpg'}
  .col-xs-12.col-md-4
    %a.thumbnail{"data-lightbox" => 'index',
       :href => 'images/index3.jpg'}
      %img.img-responsive{:src => 'images/index3.jpg'}
  .col-xs-12.col-md-4
    %a.thumbnail{"data-lightbox" => 'index',
       :href => 'images/index2.jpg'}
      %img.img-responsive{:src => 'images/index2.jpg'}
.row
  .col-xs-12
    %br
