!!! 5
%html{ :lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title EWB | USC Chapter
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/css/layout.css", :rel => "stylesheet"}
    %link{:href => "/css/lightbox.css", :rel => "stylesheet"}
  %body
    .container
      .row
        .col-xs-12.logo
          = haml(:_header)
        .col-xs-12.nav-bg
          = haml(:_navbar)
        .col-xs-12.bg-white
          = yield
        .col-xs-12.footer-bg
          = haml(:_footer)
    %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'}
    %script{:src => 'js/bootstrap.js'}
    %script{:src => 'js/lightbox.js'}
    / JS used to affix the navbar
    :javascript
      $('#nav').affix({
        offset: { top: $('#nav').offset().top }
      });
