.row
  .col-md-6
    %h3 What does EWB-USA do locally?
    %blockquote
      %p
        The primary focus of the EWB at USC chapter is on our international project. However, we also volunteer in our local community in a variety of ways!
    %h4 Mentoring LEGO FIRST teams
    %p
      We are partnering with three local schools in the Irmo, SC area (northwest of Columbia). Engineering students
      from USC volunteer once a week to work with fifth-grade LEGO FIRST teams, helping them with design, programming,
      and presentation for the regional competition in December.
    %h4 Design and Installation of Rain Barrel System for Honors Dorm Garden
  .col-md-6
    %a.thumbnail{:href => 'images/garden.jpg'}
      %img{:src => 'images/garden.jpg', :style => 'max-width:100%;'}
.row
  .col-md-12
    %p The USC Honors Dorm garden grows herbs and vegetables to use in the dormitory kitchen.
