.row
  .col-xs-12
    .page-header
      %h3 EWB-USA's International Efforts
  .col-md-6
    %h4 Needs of the Community
    %p
      Las Lajas is a mid-size county located in the southern part of 
      Ecuador in the province of El Oro. There are several communities 
      that make up this county. Approximately 5,000 people live in Las 
      Lajas (2,500 in La Victoria). Most are farmers, and they mainly 
      produce coffee. The climate is hot and dry, and rainfall can be 
      unreliable and insufficient.
    %p 
      The Association of Organic Coffee Producers of Las Lajas (ACOLL) 
      and farmers would like to establish a water collection, storage, 
      and distribution system to stabilize their water supply and 
      optimize cultivation in every season. In this project, the USC 
      chapter of EWB-USA will design and oversee construction of an 
      system to improve irrigation and water quality for the community.
    %p 
      The community will provide machinery and labor for the 
      construction process. Their main concern is about the long-term 
      stability of the system, so establishing a sense of ownership and 
      ensuring good education about maintenance and repair are key 
      aspects of the project. The chapter is committed to the Las Lajas 
      project for a minimum of five years (beginning in 2012).
  .col-md-6
    %h4 Pre-Assessment Trip (Winter 2012)
    %p 
      This trip was our first introduction to La Victoria community, 
      giving us a chance to build a relationship with them and also 
      survey the local terrain. Based on this preliminary knowledge, we 
      were able to proceed with designing an appropriate project.
    %h4 Project Proposal Trip (May 2013)
    %h4 Project Implementation Trip (Winter 2013)
    %p
      If you would like to support our chapter,
      %a{:href => '/support'}
        %b there are a variety of ways you can help!
.row
  .col-xs-12
    .page-header
      %h3 What does EWB-USA do locally?
  .col-md-6
    %p
      The primary focus of the EWB at USC chapter is on our international project. However, we also volunteer in our local community in a variety of ways!
    %h4 Mentoring LEGO FIRST teams
    %p
      We are partnering with three local schools in the Irmo, SC area (northwest of Columbia). Engineering students
      from USC volunteer once a week to work with fifth-grade LEGO FIRST teams, helping them with design, programming,
      and presentation for the regional competition in December.
    %h4 Design and Installation of Rain Barrel System for Honors Dorm Garden
  .col-md-6
    %a.thumbnail{"data-lightbox" => 'garden', 
       "data-title" => 'USC Honors Dorm garden grows herbs & vegetables to use in the dormitory kitchen', 
       :href => 'images/garden.jpg'}
      %img{:src => 'images/garden.jpg'}
