/ Ways to Contribute                   
.row
  .col-xs-12.col-md-10.col-md-offset-1
    .page-header.text-center
      %h3 Ways to Contribute
      
  .col-xs-12.col-md-10.col-md-offset-1
    %h4 Donate directly to the USC chapter
    %p
      We have a GoFundMe campaign! Help us bring safe drinking water to the 500 residents of El Cedro, Ecuador. Check it out 
      = succeed "." do
        %a{:href => 'https://www.gofundme.com/ecuador-clean-water-supply-project-2wcdz6u4'} here
    %p
      You can also support our projects by donating through the EWB-USA national website.
      Funding can be contributed for
      = succeed "," do
        %a{:href => 'https://support.ewb-usa.org/events/university-south-carolina-chapter/e83986'} general chapter activities
      or designated for a specific international project.
      EWB-USA is a non-profit company, and your donation is therefore tax deductible.
    
.page-header
  %h2.text-center Our Top Contributors

/ Row one, 1 across
.row
  .col-xs-10.col-xs-push-1.col-md-6.col-md-push-3
    %a.thumbnail{:href => 'http://www.sc.edu/'}
      .row
        .col-xs-12.col-md-4
          %img.center-block{:src => 'images/usc.png',
               :height => '200px'}/
        .col-xs-12.col-md-8
          %h3 University of South Carolina
          %p 
            EWB-USC has received two Magellan Grants and one Mini Magellan Grant through the Office of Undergraduate Research. Students have also earned grants through the university's honors college and the College of Engineering and Computing has also contributed to the success of the projects.

/ Row Two, 2 across
.row
  .col-xs-6.col-md-4.col-md-offset-2
    %a.thumbnail{:href => "http://why.knovel.com/"}
      .row
        .col-xs-12.col-md-4
          %img.img-responsive.img-circle{:src => "images/knovel.jpg"}/
        .col-xs-12.col-md-8
          %h3 Knovel
          %p 
            Knovel is a web-based application integrating technical 
            information with analytical and search tools to drive 
            innovation and deliver answers engineers can trust.
  .col-xs-6.col-md-4
    %a.thumbnail{:href => "http://www.boeing.com/boeing/"}
      .row
        .col-xs-12.col-md-4
          %img.img-responsive.img-circle{:src => "images/boeing.jpeg"}/
        .col-xs-12.col-md-8
          %h3 Boeing
          %p 
            Boeing is the world's leading aerospace company and the largest 
            manufacturer of commercial jetliners and military aircraft 
            combined.

/ Row three, 4 across
.row
  .col-xs-6.col-md-2.col-md-offset-2
    %a.thumbnail{:href => 'http://www.springvalleyrotary.com/'}
      %img.img-rounded.img-thumbnail{:src => 'images/rotary.gif'}
      %h4.text-center
        Spring Valley Rotary International
  .col-xs-6.col-md-2
    %a.thumbnail{:href => 'http://www.aspe.org/'}
      %img.img-rounded.img-thumbnail{:src => 'images/aspe.png'}
      %h4.text-center
        American Society of Plumbing Engineers
  .col-xs-6.col-md-2
    %a.thumbnail{:href => 'http://www.asce.org/'}
      %img.img-rounded.img-thumbnail{:src => 'images/asce.png'}
      %h4.text-center
        The American Society of Civil Engineers
  .col-xs-6.col-md-2
    %a.thumbnail{:href => 'http://www.same.org/'}
      %img.img-rounded.img-thumbnail{:src => 'images/same.jpg'}
      %h4.text-center 
        Society of American Military Engineers
        
.row
  .col-xs-12.col-md-8.col-md-offset-2
    %h3 Our Partners and Sponsors
    %p EWB-USA at USC thanks our sponsors for their support of the La Victoria Irrigation project.
    %ul.sponsors
      %li Drs. Kenneth and Martha Reifsnider
      %li Level Growth, LLC
      %li Orange Leaf
      %li Yoghut

